@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    
    --color-o: #FF6600;
    --color-oh: #e65c00;
}

html {
  overscroll-behavior: none;
  overflow:scroll;
}

body {

  margin: 0;
  padding: 0;
  width: 100%;

 
  background-color: white;
  color: black;
}